body {
  background: #EEE;
}

#timer {
background: #FFF;
border-radius: 10px;
box-shadow: 0 10px 10px #999;
border: 1px solid #999;
margin: 0 auto;
padding: 15px 20px;
text-align: center;
width: 300px;
}

#timer > h1 {
font-family: "Arial Black";
font-size: 25px;
}

#timer > p > span {
color: #C00;
font-size: 25px;
font-weight: bold;
}
  